@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Lobster&family=Merriweather&family=Readex+Pro:wght@300&family=Redacted+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    position: absolute;
    top: 5%;
    right: 5%;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(207, 212, 228, 0.788);
    border-radius: 10px;
    width: 60%;
    max-width: 550px;
    min-height: 150px;
    height: 25%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    background-color: none;
    width: 25%;
    height: 60%;
    border-radius: 4px;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transition: transform 200ms ease-out;
}

.icon{
    background-color: none;
    width: 64px;
    height: 64px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}


.box:hover{
    transform: scale(120%);
    cursor: pointer;
}

.box:active{
    transform:scale(115%);
}


.text::after{
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 0;
    height: 12px;
    width: 50%;
    z-index: -1;
    opacity: 0.8;
    transition: transform .2s;
    background-color: rgb(224, 106, 106);
    rotate: -5deg;
}

.box:active > .text::after{
    transform: scaleX(1);
}
